.card {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 32px 40px;
  background-color: white;
  max-width: 350px;
  border-radius: 8px;
  position: relative;
  height: fit-content;
  z-index: 1;
}

.iconContainer {
  display: flex;
  height: 88px;
  width: 88px;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-dark-violet);
  border-radius: 100%;
  margin-top: -44px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.heading {
  margin: 0;
  padding: 0;
  font-size: 22px;
  color: var(--color-neutral-very-dark-blue);
  line-height: 32px;
}

.bodyText {
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 26px;
  color: var(--color-neutral-grayish-violet);
}

.card:nth-child(2) {
  margin-top: 44px;
}

.card:nth-child(3) {
  margin-top: 88px;
}

@media screen and (max-width: 768px) {
  .card:nth-child(2) {
    margin-top: 44px;
  }

  .card:nth-child(3) {
    margin-top: 44px;
  }

  .card {
    align-items: center;
    text-align: center;
    padding: 0 35px 39px;
    margin-top: 44px;
  }
}
