.CTA {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background-color: var(--color-primary-dark-violet);
  color: white;
  padding: 56px;
  background-image: url("../public/images/bg-boost-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.heading {
  font-size: 38px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .CTA {
    background-image: url("../public/images/bg-boost-mobile.svg");
    gap: 16px;
    padding: 96px 36px 90px;
  }

  .heading {
    font-size: 28px;
    letter-spacing: -0.0275em;
  }
}
