.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--color-neutral-very-dark-blue);
  padding: 4.5rem 10.1875rem;
  color: white;
  gap: 1em;
}

.logo {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%)
    hue-rotate(133deg) brightness(105%) contrast(101%);
}

.container {
  display: flex;
  max-width: 45.6875rem;
  width: 100%;
  justify-content: space-between;
}

.linkListContainer {
  display: flex;
  flex-direction: column;
  gap: 1.3125rem;
}

/* heading4 */
.linkListLabel {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  letter-spacing: 0.01em;
}

.linkList {
  display: flex;
  flex-direction: column;
  gap: 0.5625rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: -0.05em;
  transition: all 100ms ease-in-out;
}

.link:hover {
  color: var(--color-primary-cyan);
}

.socials {
  display: flex;
  gap: 1.5rem;
}

.socialIcon {
  cursor: pointer;
}

.socialIcon:hover {
  filter: brightness(0) saturate(100%) invert(76%) sepia(76%) saturate(457%)
    hue-rotate(121deg) brightness(84%) contrast(92%);
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 4.5rem 11%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 2.875rem;
    padding: 3.5rem 1.5rem;
    align-items: center;
  }

  .container {
    flex-direction: inherit;
    width: fit-content;
    align-items: center;
    gap: 2.375rem;
  }

  .linkListContainer {
    align-items: center;
  }

  .linkList {
    align-items: center;
  }

  .socials {
    margin-top: 2.9375rem;
  }
}
