.linkForm {
  width: 100%;
  display: flex;
  gap: 24px;
  padding: 52px 64px;
  background-color: var(--color-primary-dark-violet);
  align-items: center;
  border-radius: 12px;
  background-image: url("../public/images/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  margin-top: -84px;
  background-size: cover;
}

.inputContainer {
  position: relative;
  width: 100%;
}

.linkInput {
  width: 100%;
  height: fit-content;
  font-size: 20px;
  font-family: inherit;
  color: var(--color-neutral-very-dark-blue);
  padding: 19px 32px 15px;
  outline: none;
  border: none;
  border-radius: 10px;
}

.linkInput::placeholder {
  color: var(--color-neutral-gray);
}

.error {
  outline: 3px solid var(--color-secondary-red);
}

.error::placeholder {
  color: var(--color-secondary-red);
}

.errorText {
  position: absolute;
  content: "Please add a link";

  font-size: 1rem;
  font-style: italic;
  color: var(--color-secondary-red);
  top: 88%;
}

@media screen and (max-width: 768px) {
  .linkForm {
    flex-direction: column;
    padding: 24px;
    gap: 16px;
    background-image: url("../public/images/bg-shorten-mobile.svg");
    background-size: auto;
    background-position: top right;
    margin-top: -80px;
  }

  .linkInput {
    font-size: 16px;
    line-height: 24px;
    padding: 13px 16px 11px;
  }
}
