.linkForm {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  padding: 3.25rem 4rem;
  background-color: var(--color-primary-dark-violet);
  align-items: center;
  border-radius: 0.75rem;
  background-image: url("../public/images/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  margin-top: -5.25rem;
  background-size: cover;
}

.inputContainer {
  position: relative;
  width: 100%;
}

.linkInput {
  width: 100%;
  height: fit-content;
  font-size: 1.25rem;
  font-family: inherit;
  color: var(--color-neutral-very-dark-blue);
  padding: 1.1875rem 2rem 0.9375rem;
  outline: none;
  border: none;
  border-radius: 0.625rem;
}

.linkInput::placeholder {
  color: var(--color-neutral-gray);
}

.error {
  outline: 3px solid var(--color-secondary-red);
}

.error::placeholder {
  color: var(--color-secondary-red);
}

.errorText {
  position: absolute;

  font-size: 1rem;
  font-style: italic;
  color: var(--color-secondary-red);
  top: 88%;
}

@media screen and (max-width: 768px) {
  .linkForm {
    flex-direction: column;
    padding: 1.5rem;
    gap: 1rem;
    background-image: url("../public/images/bg-shorten-mobile.svg");
    background-size: auto;
    background-position: top right;
    margin-top: -5rem;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
  }

  .errorText {
    position: static;
    margin: 0;
    font-size: 0.75rem;
    letter-spacing: -0.01em;
  }

  .linkInput {
    font-size: 1rem;
    line-height: 2.5em;
    padding: 0.8125rem 1rem 0.6875rem;
  }
}
