.heroSection {
  padding: 9.3rem 10.3rem 13.875rem;
  background-image: url("/images/illustration-working.svg");
  background-repeat: no-repeat;
  background-position: 51.875rem 4.875rem;
  background-size: 45.8125rem 30.125rem;
}
.contentContainer {
  max-width: 36.25rem;
  display: flex;
  flex-direction: column;
  gap: 2.15rem;
}

@media screen and (max-width: 1024px) {
  .heroSection {
    padding: 9.1875 11% 13.875rem;
  }
}

@media screen and (max-width: 768px) {
  .heroSection {
    display: flex;
    flex-direction: column;
    background-size: 132%;
    background-position: 1.675rem 2.4rem;
    padding: 107% 1.5rem 10.5rem;
    align-items: center;
  }

  .contentContainer {
    width: 100%;
    align-items: center;
    text-align: center;
    gap: 1.9rem;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    flex-direction: center;
    align-items: inherit;
    gap: 0.8rem;
  }
}
