.heroSection {
  padding: 147px 166px 222px;
  background-image: url("../public/images/illustration-working.svg");
  background-repeat: no-repeat;
  background-position: 830px 78px;
  background-size: 733px 482px;
}
.contentContainer {
  max-width: 580px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.heading {
  font-size: 79px;
  line-height: 1.14em;
  letter-spacing: -0.02em;
  color: var(--color-neutral-very-dark-blue);
  margin: 0;
}

.bodyText {
  font-size: 22px;
  line-height: 1.64em;
  letter-spacing: 0.0025em;
  color: var(--color-neutral-grayish-violet);
  margin: 0;
}

@media screen and (max-width: 768px) {
  .heroSection {
    display: flex;
    flex-direction: column;
    background-size: 114%;
    background-position: 38px 24px;
    padding: 106% 24px 168px;
    align-items: center;
  }

  .contentContainer {
    width: 100%;
    align-items: center;
    text-align: center;
    gap: 30px;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    flex-direction: center;
    align-items: inherit;
    gap: 13px;
  }

  .heading {
    font-size: 42px;
    line-height: 48px;
  }

  .bodyText {
    font-size: 18px;
    line-height: 30px;
  }
}
