.primaryButton {
  font: inherit;
  font-weight: 700;
  background-color: var(--color-primary-cyan);
  outline: none;
  border: 0;
  color: white;
  cursor: pointer;
  width: max-content;
  transition: all 100ms ease-in-out;
  padding: 0.8125rem 2.5rem;
  border-radius: 1.875rem;
  font-size: 1.25rem;
}

.primaryButton:hover {
  background-color: var(--color-secondary-light-cyan);
}

.signUp {
  padding: 0.5625rem 1.5rem;
  font-size: 0.9375rem;
  border-radius: 1.25rem;
}

.form {
  padding: 1.0625rem 2.5rem;
  border-radius: 0.625rem;
  min-width: 11.75rem;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9375rem;

  border-radius: 0.375rem;
  width: 6.4375rem;
  height: 2.5rem;
}

.copied {
  background-color: var(--color-primary-dark-violet);
}

.copied:hover {
  background-color: var(--color-primary-dark-violet);
}

@media screen and (max-width: 768px) {
  .signUp {
    width: 100%;
    font-size: 1.125rem;
    letter-spacing: -0.01em;
    height: 3rem;
  }

  .form {
    width: 100%;
    padding: unset;
    height: 3rem;
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }

  .link {
    width: 100%;
    font-size: 1rem;
    height: unset;
    padding: 0.5rem 0.5rem;
  }
}
