.primaryButton {
  font: inherit;
  font-weight: 700;
  background-color: var(--color-primary-cyan);
  outline: none;
  border: 0;
  color: white;
  cursor: pointer;
  width: max-content;

  padding: 13px 40px;
  border-radius: 30px;
  font-size: 20px;
}

.primaryButton:hover {
  background-color: var(--color-secondary-light-cyan);
}

.signUp {
  padding: 9px 24px;
  font-size: 15px;
  border-radius: 20px;
}

.form {
  padding: 17px 40px;
  border-radius: 10px;
  min-width: 188px;
}
