.primaryHeader {
  display: flex;
  margin-top: 3rem;
  margin-left: 10.4375rem;
  margin-right: 10.25rem;
  align-items: end;
  gap: 2.8125rem;
}

.headerNavigation {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 0;
}

.navLinksContainer {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  width: 28%;
  justify-content: space-between;
  gap: 1em;
}

.navLink {
  color: var(--color-neutral-grayish-violet);
  font-size: 0.9375rem;
  margin: 0;
  cursor: pointer;
  font-weight: 700;
}

.navLink:hover {
  color: var(--color-neutral-dark-violet);
}

.navButtonsContainer {
  display: flex;
  gap: 2.375rem;
}

.loginButton {
  outline: 0;
  border: 0;
  background-color: transparent;
  font: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .primaryHeader {
    margin: 3rem 11% auto;
  }
}

@media screen and (max-width: 768px) {
  .primaryHeader {
    margin: 2.5rem 1.5rem 0;
    justify-content: space-between;
    align-items: center;
  }

  .headerNavigation {
    position: fixed;
    width: unset;
    inset: 6rem 1.5rem auto 100%;

    flex-direction: column;
    background-color: var(--color-primary-dark-violet);
    color: white;
    padding: 0 1.5rem 2.5rem;
    border-radius: 0.625rem;
    transition: all 100ms ease-in;
    z-index: 100;
  }

  .open {
    inset: 6rem 1.5rem auto;
  }

  .navLinksContainer {
    flex-direction: column;
    gap: 1.75rem;
    padding: 2.375rem 0 2rem;
    text-align: center;
    border-bottom: 2px solid white;
    width: 100%;
  }

  .navLink {
    font-weight: 700;
    font-size: 1.1875rem;
    letter-spacing: -0.03em;
    color: white;
  }

  .navLink:hover {
    color: white;
  }

  .navButtonsContainer {
    flex-direction: column;
    margin-top: 1.875rem;
    text-align: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
  }

  .loginButton {
    font-weight: 700;
    font-size: 1.1875rem;
    letter-spacing: -0.03em;
    color: white;
  }
}
