.primaryHeader {
  display: flex;

  margin-top: 48px;
  margin-left: 167px;
  margin-right: 164px;
  align-items: center;
  gap: 45px;
}

.headerNavigation {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 0;
}

.navLinksContainer {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  width: 28%;
  justify-content: space-between;
  gap: 1em;
}

.navLink {
  color: var(--color-neutral-grayish-violet);
  font-size: 15px;
  margin: 0;
  cursor: pointer;
}

.navLink:hover {
  color: var(--color-neutral-dark-violet);
}

.navButtonsContainer {
  display: flex;
  gap: 38px;
}

.loginButton {
  outline: 0;
  border: 0;
  background-color: transparent;
  font: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .primaryHeader {
    margin: 48px 11% auto;
  }
}

@media screen and (max-width: 768px) {
  .primaryHeader {
    margin: 40px 24px 0;
    justify-content: space-between;
  }

  .headerNavigation {
    position: fixed;
    width: unset;
    inset: 96px 24px auto 100%;

    flex-direction: column;
    background-color: var(--color-primary-dark-violet);
    color: white;
    padding: 0 24px 40px;
    border-radius: 10px;
    transition: all 100ms ease-in;
    z-index: 100;
  }

  .open {
    inset: 96px 24px auto;
  }

  .navLinksContainer {
    flex-direction: column;
    gap: 28px;
    padding: 38px 0 32px;
    text-align: center;
    border-bottom: 2px solid white;
    width: 100%;
  }

  .navLink {
    font-weight: 700;
    font-size: 19px;
    letter-spacing: -0.03em;
    color: white;
  }

  .navLink:hover {
    color: white;
  }

  .navButtonsContainer {
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
    align-items: center;
    gap: 24px;
    width: 100%;
  }

  .loginButton {
    font-weight: 700;
    font-size: 19px;
    letter-spacing: -0.03em;
    color: white;
  }
}
